openapi: 3.0.1
info:
  contact:
    email: support@quay.io
  description: This API allows you to perform many of the operations required to work
    with Quay repositories, users, and organizations. You can find out more at <a
    href="https://quay.io">Quay</a>.
  termsOfService: https://quay.io/tos
  title: Quay Frontend
  version: v1
servers:
- url: https://quay.io/
tags:
- description: Billing information, subscriptions, and plan information.
  name: billing
- description: Create, list, cancel and get status/logs of repository builds.
  name: build
- description: API discovery information.
  name: discovery
- description: Error details API.
  name: error
- description: Messages API.
  name: globalmessages
- description: List and lookup repository images.
  name: image
- description: Access usage logs for organizations or repositories.
  name: logs
- description: Manage the manifests of a repository.
  name: manifest
- description: Manage organizations, members and OAuth applications.
  name: organization
- description: Manage repository permissions.
  name: permission
- description: Manage default permissions added to repositories.
  name: prototype
- description: List, create and manage repositories.
  name: repository
- description: List, create and manage repository events/notifications.
  name: repositorynotification
- description: Manage repository access tokens (DEPRECATED).
  name: repotoken
- description: Manage user and organization robot accounts.
  name: robot
- description: Conduct searches against all registry context.
  name: search
- description: List and manage repository vulnerabilities and other security information.
  name: secscan
- description: List and manage repository signing information.
  name: signing
- description: Manage the tags of a repository.
  name: tag
- description: Create, list and manage an organization's teams.
  name: team
- description: Create, list and manage build triggers.
  name: trigger
- description: Manage the current user.
  name: user
- description: ""
  name: userfiles
paths:
  /api/v1/organization/{orgname}/invoices:
    get:
      description: List the invoices for the specified orgnaization.
      operationId: listOrgInvoices
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - billing
    x-name: endpoints.api.billing.OrganizationInvoiceList
    x-tag: billing
    x-path: /api/v1/organization/{orgname}/invoices
  /api/v1/plans/:
    get:
      description: List the avaialble plans.
      operationId: listPlans
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      tags:
      - billing
    x-name: endpoints.api.billing.ListPlans
    x-tag: billing
    x-path: /api/v1/plans/
  /api/v1/repository/{repository}/build/:
    get:
      description: Get the list of repository builds.
      operationId: getRepoBuilds
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      - description: Returns all builds since the given unix timecode
        in: query
        name: since
        schema:
          type: integer
      - description: The maximum number of builds to return
        in: query
        name: limit
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - build
    post:
      description: Request that a repository be built and pushed from the specified
        input.
      operationId: requestRepoBuild
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RepositoryBuildRequest'
        description: Request body contents.
        required: true
      responses:
        "201":
          content: {}
          description: Successful creation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:write
      tags:
      - build
      x-codegen-request-body-name: body
    x-name: endpoints.api.build.RepositoryBuildList
    x-path: /api/v1/repository/{repository}/build/
    x-tag: build
  /api/v1/repository/{repository}/build/{build_uuid}/status:
    get:
      description: Return the status for the builds specified by the build uuids.
      operationId: getRepoBuildStatus
      parameters:
      - description: The UUID of the build
        in: path
        name: build_uuid
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - build
    x-name: endpoints.api.build.RepositoryBuildStatus
    x-tag: build
    x-path: /api/v1/repository/{repository}/build/{build_uuid}/status
  /api/v1/repository/{repository}/build/{build_uuid}:
    delete:
      description: Cancels a repository build.
      operationId: cancelRepoBuild
      parameters:
      - description: The UUID of the build
        in: path
        name: build_uuid
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Deleted
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - build
    get:
      description: Returns information about a build.
      operationId: getRepoBuild
      parameters:
      - description: The UUID of the build
        in: path
        name: build_uuid
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - build
    x-name: endpoints.api.build.RepositoryBuildResource
    x-path: /api/v1/repository/{repository}/build/{build_uuid}
    x-tag: build
  /api/v1/repository/{repository}/build/{build_uuid}/logs:
    get:
      description: Return the build logs for the build specified by the build uuid.
      operationId: getRepoBuildLogs
      parameters:
      - description: The UUID of the build
        in: path
        name: build_uuid
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - build
    x-name: endpoints.api.build.RepositoryBuildLogs
    x-tag: build
    x-path: /api/v1/repository/{repository}/build/{build_uuid}/logs
  /api/v1/discovery:
    get:
      description: List all of the API endpoints available in the swagger API format.
      operationId: discovery
      parameters:
      - description: Whether to include internal APIs.
        in: query
        name: internal
        schema:
          type: boolean
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      tags:
      - discovery
    x-name: endpoints.api.discovery.DiscoveryResource
    x-tag: discovery
    x-path: /api/v1/discovery
  /api/v1/error/{error_type}:
    get:
      description: Get a detailed description of the error.
      operationId: getErrorDescription
      parameters:
      - description: The error code identifying the type of error.
        in: path
        name: error_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiErrorDescription'
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      tags:
      - error
    x-name: endpoints.api.error.Error
    x-tag: error
    x-path: /api/v1/error/{error_type}
  /api/v1/messages:
    get:
      description: Return a super users messages.
      operationId: getGlobalMessages
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      tags:
      - globalmessages
    post:
      description: Create a message.
      operationId: createGlobalMessage
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateMessage'
        description: Request body contents.
        required: true
      responses:
        "201":
          content: {}
          description: Successful creation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - super:user
      tags:
      - globalmessages
      x-codegen-request-body-name: body
    x-name: endpoints.api.globalmessages.GlobalUserMessages
    x-tag: globalmessages
    x-path: /api/v1/messages
  /api/v1/repository/{repository}/image/:
    get:
      description: List the images for the specified repository.
      operationId: listRepositoryImages
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - image
    x-name: endpoints.api.image.RepositoryImageList
    x-tag: image
    x-path: /api/v1/repository/{repository}/image/
  /api/v1/repository/{repository}/image/{image_id}:
    get:
      description: Get the information available for the specified image.
      operationId: getImage
      parameters:
      - description: The Docker image ID
        in: path
        name: image_id
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - image
    x-name: endpoints.api.image.RepositoryImage
    x-tag: image
    x-path: /api/v1/repository/{repository}/image/{image_id}
  /api/v1/organization/{orgname}/logs:
    get:
      description: List the logs for the specified organization.
      operationId: listOrgLogs
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        schema:
          type: string
      - description: The page token for the next page
        in: query
        name: next_page
        schema:
          type: string
      - description: Username for which to filter logs.
        in: query
        name: performer
        schema:
          type: string
      - description: 'Latest time for logs. Format: "%m/%d/%Y" in UTC.'
        in: query
        name: endtime
        schema:
          type: string
      - description: 'Earliest time for logs. Format: "%m/%d/%Y" in UTC.'
        in: query
        name: starttime
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - logs
    x-name: endpoints.api.logs.OrgLogs
    x-tag: logs
    x-path: /api/v1/organization/{orgname}/logs
  /api/v1/repository/{repository}/logs:
    get:
      description: List the logs for the specified repository.
      operationId: listRepoLogs
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      - description: The page token for the next page
        in: query
        name: next_page
        schema:
          type: string
      - description: 'Latest time for logs. Format: "%m/%d/%Y" in UTC.'
        in: query
        name: endtime
        schema:
          type: string
      - description: 'Earliest time for logs. Format: "%m/%d/%Y" in UTC.'
        in: query
        name: starttime
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - logs
    x-name: endpoints.api.logs.RepositoryLogs
    x-tag: logs
    x-path: /api/v1/repository/{repository}/logs
  /api/v1/user/logs:
    get:
      description: List the logs for the current user.
      operationId: listUserLogs
      parameters:
      - description: The page token for the next page
        in: query
        name: next_page
        schema:
          type: string
      - description: Username for which to filter logs.
        in: query
        name: performer
        schema:
          type: string
      - description: 'Latest time for logs. Format: "%m/%d/%Y" in UTC.'
        in: query
        name: endtime
        schema:
          type: string
      - description: 'Earliest time for logs. Format: "%m/%d/%Y" in UTC.'
        in: query
        name: starttime
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - user:admin
      tags:
      - logs
    x-name: endpoints.api.logs.UserLogs
    x-tag: logs
    x-path: /api/v1/user/logs
  /api/v1/repository/{repository}/manifest/{manifestref}/labels:
    get:
      operationId: listManifestLabels
      parameters:
      - description: The digest of the manifest
        in: path
        name: manifestref
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      - description: If specified, only labels matching the given prefix will be returned
        in: query
        name: filter
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - manifest
    post:
      description: Adds a new label into the tag manifest.
      operationId: addManifestLabel
      parameters:
      - description: The digest of the manifest
        in: path
        name: manifestref
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddLabel'
        description: Request body contents.
        required: true
      responses:
        "201":
          content: {}
          description: Successful creation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:write
      tags:
      - manifest
      x-codegen-request-body-name: body
    x-name: endpoints.api.manifest.RepositoryManifestLabels
    x-path: /api/v1/repository/{repository}/manifest/{manifestref}/labels
    x-tag: manifest
  /api/v1/repository/{repository}/manifest/{manifestref}/labels/{labelid}:
    delete:
      description: Deletes an existing label from a manifest.
      operationId: deleteManifestLabel
      parameters:
      - description: The ID of the label
        in: path
        name: labelid
        required: true
        schema:
          type: string
      - description: The digest of the manifest
        in: path
        name: manifestref
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Deleted
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:write
      tags:
      - manifest
    get:
      description: Retrieves the label with the specific ID under the manifest.
      operationId: getManifestLabel
      parameters:
      - description: The ID of the label
        in: path
        name: labelid
        required: true
        schema:
          type: string
      - description: The digest of the manifest
        in: path
        name: manifestref
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - manifest
    x-name: endpoints.api.manifest.ManageRepositoryManifestLabel
    x-path: /api/v1/repository/{repository}/manifest/{manifestref}/labels/{labelid}
    x-tag: manifest
  /api/v1/repository/{repository}/manifest/{manifestref}:
    get:
      operationId: getRepoManifest
      parameters:
      - description: The digest of the manifest
        in: path
        name: manifestref
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - manifest
    x-name: endpoints.api.manifest.RepositoryManifest
    x-tag: manifest
    x-path: /api/v1/repository/{repository}/manifest/{manifestref}
  /api/v1/organization/{orgname}/members/{membername}:
    delete:
      description: |-
        Removes a member from an organization, revoking all its repository priviledges and removing
                it from all teams in the organization.
      operationId: removeOrganizationMember
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        schema:
          type: string
      - description: The username of the organization member
        in: path
        name: membername
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Deleted
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
    get:
      description: Retrieves the details of a member of the organization.
      operationId: getOrganizationMember
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        schema:
          type: string
      - description: The username of the organization member
        in: path
        name: membername
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
    x-name: endpoints.api.organization.OrganizationMember
    x-path: /api/v1/organization/{orgname}/members/{membername}
    x-tag: organization
  /api/v1/organization/{orgname}:
    delete:
      description: Deletes the specified organization.
      operationId: deleteAdminedOrganization
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Deleted
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
    get:
      description: Get the details for the specified organization.
      operationId: getOrganization
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      tags:
      - organization
    put:
      description: Change the details for the specified organization.
      operationId: changeOrganizationDetails
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateOrg'
        description: Request body contents.
        required: true
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
      x-codegen-request-body-name: body
    x-name: endpoints.api.organization.Organization
    x-path: /api/v1/organization/{orgname}
    x-tag: organization
  /api/v1/organization/{orgname}/collaborators:
    get:
      description: List outside collaborators of the specified organization.
      operationId: getOrganizationCollaborators
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
    x-name: endpoints.api.organization.OrganizationCollaboratorList
    x-tag: organization
    x-path: /api/v1/organization/{orgname}/collaborators
  /api/v1/organization/{orgname}/applications/{client_id}:
    delete:
      description: Deletes the application under this organization.
      operationId: deleteOrganizationApplication
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        schema:
          type: string
      - description: The OAuth client ID
        in: path
        name: client_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Deleted
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
    get:
      description: Retrieves the application with the specified client_id under the
        specified organization.
      operationId: getOrganizationApplication
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        schema:
          type: string
      - description: The OAuth client ID
        in: path
        name: client_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
    put:
      description: Updates an application under this organization.
      operationId: updateOrganizationApplication
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        schema:
          type: string
      - description: The OAuth client ID
        in: path
        name: client_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateApp'
        description: Request body contents.
        required: true
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
      x-codegen-request-body-name: body
    x-name: endpoints.api.organization.OrganizationApplicationResource
    x-path: /api/v1/organization/{orgname}/applications/{client_id}
    x-tag: organization
  /api/v1/organization/:
    post:
      description: Create a new organization.
      operationId: createOrganization
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/NewOrg'
        description: Request body contents.
        required: true
      responses:
        "201":
          content: {}
          description: Successful creation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - user:admin
      tags:
      - organization
      x-codegen-request-body-name: body
    x-name: endpoints.api.organization.OrganizationList
    x-tag: organization
    x-path: /api/v1/organization/
  /api/v1/app/{client_id}:
    get:
      description: Get information on the specified application.
      operationId: getApplicationInformation
      parameters:
      - description: The OAuth client ID
        in: path
        name: client_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      tags:
      - organization
    x-name: endpoints.api.organization.ApplicationInformation
    x-tag: organization
    x-path: /api/v1/app/{client_id}
  /api/v1/organization/{orgname}/applications:
    get:
      description: List the applications for the specified organization.
      operationId: getOrganizationApplications
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
    post:
      description: Creates a new application under this organization.
      operationId: createOrganizationApplication
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/NewApp'
        description: Request body contents.
        required: true
      responses:
        "201":
          content: {}
          description: Successful creation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
      x-codegen-request-body-name: body
    x-name: endpoints.api.organization.OrganizationApplications
    x-path: /api/v1/organization/{orgname}/applications
    x-tag: organization
  /api/v1/organization/{orgname}/members:
    get:
      description: List the human members of the specified organization.
      operationId: getOrganizationMembers
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
    x-name: endpoints.api.organization.OrganizationMemberList
    x-tag: organization
    x-path: /api/v1/organization/{orgname}/members
  /api/v1/repository/{repository}/permissions/team/{teamname}:
    delete:
      description: Delete the permission for the specified team.
      operationId: deleteTeamPermissions
      parameters:
      - description: The name of the team to which the permission applies
        in: path
        name: teamname
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Deleted
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - permission
    get:
      description: Fetch the permission for the specified team.
      operationId: getTeamPermissions
      parameters:
      - description: The name of the team to which the permission applies
        in: path
        name: teamname
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - permission
    put:
      description: Update the existing team permission.
      operationId: changeTeamPermissions
      parameters:
      - description: The name of the team to which the permission applies
        in: path
        name: teamname
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/TeamPermission'
        description: Request body contents.
        required: true
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - permission
      x-codegen-request-body-name: body
    x-name: endpoints.api.permission.RepositoryTeamPermission
    x-path: /api/v1/repository/{repository}/permissions/team/{teamname}
    x-tag: permission
  /api/v1/repository/{repository}/permissions/user/:
    get:
      description: List all user permissions.
      operationId: listRepoUserPermissions
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - permission
    x-name: endpoints.api.permission.RepositoryUserPermissionList
    x-tag: permission
    x-path: /api/v1/repository/{repository}/permissions/user/
  /api/v1/repository/{repository}/permissions/team/:
    get:
      description: List all team permission.
      operationId: listRepoTeamPermissions
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - permission
    x-name: endpoints.api.permission.RepositoryTeamPermissionList
    x-tag: permission
    x-path: /api/v1/repository/{repository}/permissions/team/
  /api/v1/repository/{repository}/permissions/user/{username}:
    delete:
      description: Delete the permission for the user.
      operationId: deleteUserPermissions
      parameters:
      - description: The username of the user to which the permission applies
        in: path
        name: username
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Deleted
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - permission
    get:
      description: Get the permission for the specified user.
      operationId: getUserPermissions
      parameters:
      - description: The username of the user to which the permission applies
        in: path
        name: username
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - permission
    put:
      description: Update the perimssions for an existing repository.
      operationId: changeUserPermissions
      parameters:
      - description: The username of the user to which the permission applies
        in: path
        name: username
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UserPermission'
        description: Request body contents.
        required: true
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - permission
      x-codegen-request-body-name: body
    x-name: endpoints.api.permission.RepositoryUserPermission
    x-path: /api/v1/repository/{repository}/permissions/user/{username}
    x-tag: permission
  /api/v1/repository/{repository}/permissions/user/{username}/transitive:
    get:
      description: Get the fetch the permission for the specified user.
      operationId: getUserTransitivePermission
      parameters:
      - description: The username of the user to which the permissions apply
        in: path
        name: username
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - permission
    x-name: endpoints.api.permission.RepositoryUserTransitivePermission
    x-tag: permission
    x-path: /api/v1/repository/{repository}/permissions/user/{username}/transitive
  /api/v1/organization/{orgname}/prototypes:
    get:
      description: List the existing prototypes for this organization.
      operationId: getOrganizationPrototypePermissions
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - prototype
    post:
      description: Create a new permission prototype.
      operationId: createOrganizationPrototypePermission
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/NewPrototype'
        description: Request body contents.
        required: true
      responses:
        "201":
          content: {}
          description: Successful creation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - prototype
      x-codegen-request-body-name: body
    x-name: endpoints.api.prototype.PermissionPrototypeList
    x-path: /api/v1/organization/{orgname}/prototypes
    x-tag: prototype
  /api/v1/organization/{orgname}/prototypes/{prototypeid}:
    delete:
      description: Delete an existing permission prototype.
      operationId: deleteOrganizationPrototypePermission
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        schema:
          type: string
      - description: The ID of the prototype
        in: path
        name: prototypeid
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Deleted
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - prototype
    put:
      description: Update the role of an existing permission prototype.
      operationId: updateOrganizationPrototypePermission
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        schema:
          type: string
      - description: The ID of the prototype
        in: path
        name: prototypeid
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/PrototypeUpdate'
        description: Request body contents.
        required: true
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - prototype
      x-codegen-request-body-name: body
    x-name: endpoints.api.prototype.PermissionPrototype
    x-path: /api/v1/organization/{orgname}/prototypes/{prototypeid}
    x-tag: prototype
  /api/v1/repository/{repository}/changetrust:
    post:
      description: Change the visibility of a repository.
      operationId: changeRepoTrust
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ChangeRepoTrust'
        description: Request body contents.
        required: true
      responses:
        "201":
          content: {}
          description: Successful creation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repository
      x-codegen-request-body-name: body
    x-name: endpoints.api.repository.RepositoryTrust
    x-tag: repository
    x-path: /api/v1/repository/{repository}/changetrust
  /api/v1/repository:
    get:
      description: Fetch the list of repositories visible to the current user under
        a variety of situations.
      operationId: listRepos
      parameters:
      - description: The page token for the next page
        in: query
        name: next_page
        schema:
          type: string
      - description: The kind of repositories to return
        in: query
        name: repo_kind
        schema:
          type: string
      - description: Whether to include the repository's popularity metric.
        in: query
        name: popularity
        schema:
          type: boolean
      - description: Whether to include when the repository was last modified.
        in: query
        name: last_modified
        schema:
          type: boolean
      - description: Adds any repositories visible to the user by virtue of being
          public
        in: query
        name: public
        schema:
          type: boolean
      - description: Filters the repositories returned to those starred by the user
        in: query
        name: starred
        schema:
          type: boolean
      - description: Filters the repositories returned to this namespace
        in: query
        name: namespace
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - repository
    post:
      description: Create a new repository.
      operationId: createRepo
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/NewRepo'
        description: Request body contents.
        required: true
      responses:
        "201":
          content: {}
          description: Successful creation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:create
      tags:
      - repository
      x-codegen-request-body-name: body
    x-name: endpoints.api.repository.RepositoryList
    x-tag: repository
    x-path: /api/v1/repository
  /api/v1/repository/{repository}/changevisibility:
    post:
      description: Change the visibility of a repository.
      operationId: changeRepoVisibility
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ChangeVisibility'
        description: Request body contents.
        required: true
      responses:
        "201":
          content: {}
          description: Successful creation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repository
      x-codegen-request-body-name: body
    x-name: endpoints.api.repository.RepositoryVisibility
    x-tag: repository
    x-path: /api/v1/repository/{repository}/changevisibility
  /api/v1/repository/{repository}:
    delete:
      description: Delete a repository.
      operationId: deleteRepository
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Deleted
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repository
    get:
      description: Fetch the specified repository.
      operationId: getRepo
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      - description: Whether to include repository tags
        in: query
        name: includeTags
        schema:
          type: boolean
      - description: Whether to include action statistics
        in: query
        name: includeStats
        schema:
          type: boolean
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - repository
    put:
      description: Update the description in the specified repository.
      operationId: updateRepo
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RepoUpdate'
        description: Request body contents.
        required: true
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:write
      tags:
      - repository
      x-codegen-request-body-name: body
    x-name: endpoints.api.repository.Repository
    x-path: /api/v1/repository/{repository}
    x-tag: repository
  /api/v1/repository/{repository}/notification/{uuid}/test:
    post:
      description: Queues a test notification for this repository.
      operationId: testRepoNotification
      parameters:
      - description: The UUID of the notification
        in: path
        name: uuid
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "201":
          content: {}
          description: Successful creation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repositorynotification
    x-name: endpoints.api.repositorynotification.TestRepositoryNotification
    x-tag: repositorynotification
    x-path: /api/v1/repository/{repository}/notification/{uuid}/test
  /api/v1/repository/{repository}/notification/{uuid}:
    delete:
      description: Deletes the specified notification.
      operationId: deleteRepoNotification
      parameters:
      - description: The UUID of the notification
        in: path
        name: uuid
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Deleted
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repositorynotification
    get:
      description: Get information for the specified notification.
      operationId: getRepoNotification
      parameters:
      - description: The UUID of the notification
        in: path
        name: uuid
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repositorynotification
    post:
      description: Resets repository notification to 0 failures.
      operationId: resetRepositoryNotificationFailures
      parameters:
      - description: The UUID of the notification
        in: path
        name: uuid
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "201":
          content: {}
          description: Successful creation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repositorynotification
    x-name: endpoints.api.repositorynotification.RepositoryNotification
    x-path: /api/v1/repository/{repository}/notification/{uuid}
    x-tag: repositorynotification
  /api/v1/repository/{repository}/notification/:
    get:
      description: List the notifications for the specified repository.
      operationId: listRepoNotifications
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repositorynotification
    post:
      operationId: createRepoNotification
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/NotificationCreateRequest'
        description: Request body contents.
        required: true
      responses:
        "201":
          content: {}
          description: Successful creation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repositorynotification
      x-codegen-request-body-name: body
    x-name: endpoints.api.repositorynotification.RepositoryNotificationList
    x-path: /api/v1/repository/{repository}/notification/
    x-tag: repositorynotification
  /api/v1/repository/{repository}/tokens/:
    get:
      description: List the tokens for the specified repository.
      operationId: listRepoTokens
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repotoken
    post:
      description: Create a new repository token.
      operationId: createToken
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/NewToken'
        description: Request body contents.
        required: true
      responses:
        "201":
          content: {}
          description: Successful creation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repotoken
      x-codegen-request-body-name: body
    x-name: endpoints.api.repotoken.RepositoryTokenList
    x-path: /api/v1/repository/{repository}/tokens/
    x-tag: repotoken
  /api/v1/repository/{repository}/tokens/{code}:
    delete:
      description: Delete the repository token.
      operationId: deleteToken
      parameters:
      - description: The token code
        in: path
        name: code
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Deleted
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repotoken
    get:
      description: Fetch the specified repository token information.
      operationId: getTokens
      parameters:
      - description: The token code
        in: path
        name: code
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repotoken
    put:
      description: Update the permissions for the specified repository token.
      operationId: changeToken
      parameters:
      - description: The token code
        in: path
        name: code
        required: true
        schema:
          type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/TokenPermission'
        description: Request body contents.
        required: true
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repotoken
      x-codegen-request-body-name: body
    x-name: endpoints.api.repotoken.RepositoryToken
    x-path: /api/v1/repository/{repository}/tokens/{code}
    x-tag: repotoken
  /api/v1/user/robots:
    get:
      description: List the available robots for the user.
      operationId: getUserRobots
      parameters:
      - description: If specified, the number of robots to return.
        in: query
        name: limit
        schema:
          type: integer
      - description: If false, the robot's token is not returned.
        in: query
        name: token
        schema:
          type: boolean
      - description: Whether to include repositories and teams in which the robots
          have permission.
        in: query
        name: permissions
        schema:
          type: boolean
      responses:
        "200":
          content: {}
          description: Successful invocation
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Session required
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized access
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
      security:
      - oauth2_implicit:
        - user:admin
      tags:
      - robot
    x-name: endpoints.api.robot.UserRobotList
    x-tag: robot
    x-path: /api/v1/user/robots
  /api/v1/organization/{orgname}/robots/{robot_shortname}/permissions:
    get:
      description: Returns the list of repository permissions for the org's robot.
      operationId: getOrgRobotPermissions
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
[...]
